{% extends "classic/base.html" %}
{% load index %}

{% block content %}
<h3>My Classes</h3>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addLessonModal">
    Add Class
</button>

<div class="container mt-3">
    <a href="{% url 'classic:lessonall' %}">All Classes</a>
    <h3>Upcoming Classes</h3>
    {% for lesson in lessons %}
    <div class="card mt-3">
        <div class="card-header">
            <a href="{% url 'classic:lessoncard' lesson.id %}" class="h6">{{ lesson.student.name }} {{ lesson.day }} {{ lesson.start_at }} ({{ lesson.duration }} mins)</a>
        </div>
        <div class="card-body">
            {% if lesson.notes %}
            <p class="card-text">
                <b>Notes:</b> {{ lesson.notes }}
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<!-- Add Class Modal -->
<div class="modal fade" id="addLessonModal" tabindex="-1" role="dialog" aria-labelledby="addLessonModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addLessonModalLabel">Add Class</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include "classic/lessonform.html" %}
                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
 let app = new Vue({
   el: "#app",
   data: {
     {{ vueLesson|safe }}
   },

   methods: {

   },

   mounted() {

   },
 });
</script>
{% endblock %}
