{% extends "classic/base.html" %}
{% load index %}

{% block content %}
<h3>My Classes</h3>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addLessonModal">
    Add Class
</button>

<br><br>

{% if lessons %}
Tap on a class' header to edit its info.
{% endif %}

{% for lesson in lessons %}
<div class="card mt-3">
    <div class="card-header">
        <a href="/classic/classes/{{ lesson.id }}/" class="h6">{{ lesson.student.name }} {{ lesson.day }} {{ lesson.start_time }}</a>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ lesson.day }} {{ lesson.start_time }} - {{ lesson.end_time }}<br>
            {{ lesson.notes }}
        </p>
    </div>
</div>
{% endfor %}

<!-- Add Lesson Modal -->
<div class="modal fade" id="addLessonModal" tabindex="-1" role="dialog" aria-labelledby="addLessonModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addLessonModalLabel">Add Lesson</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include "classic/lessonform.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
 let app = new Vue({
   el: "#app",
   data: {
     {{ vueLesson|safe }}
   },

   methods: {

   },

   mounted() {

   },
 });
</script>
{% endblock %}
