<form method="POST" onsubmit="document.getElementById('submitStudent').disabled=true;">
    {% csrf_token %}

    <div class="form-group">
        <label for="studentName">Name</label>
        <input type="text" class="form-control" id="studentName" name="name" placeholder="Student's Name" required v-model="student.name">
    </div>

    <div class="form-group">
        <label for="studentPhone">Phone</label>
        <input type="text" class="form-control" id="studentPhone" name="phone" placeholder="Student's Phone" v-model="student.phone">
    </div>

    <div class="form-group">
        <label for="studentEmail">Email</label>
        <input type="email" class="form-control" id="studentEmail" name="email" placeholder="Student's Email" v-model="student.email">
    </div>

    <button id="submitStudent" type="submit" class="btn btn-primary">Submit</button>
</form>
