{% extends "classic/base.html" %}

{% block content %}
<h3>Edit Student's Info</h3>

<a href="{% url 'classic:studentclasses' studentId %}" class="btn btn-primary">Back to Student</a>

<a href="{% url 'classic:studentconfirmdelete' studentId %}" class="btn btn-danger">Delete</a>

{% include "classic/studentform.html" %}

{% endblock %}



{% block script %}
<script>
 let app = new Vue({
   el: "#app",
   data: {
     {{ vueStudent|safe }}
   },
   
   methods: {
     
   },

   mounted() {
     
   },
 });
</script>
{% endblock %}
