{% extends "classic/base.html" %}

{% block content %}
<h3>Student Details</h3>

<a href="{% url 'classic:studentlist' %}" class="btn btn-primary">Back to All Students</a>
<a href="{% url 'classic:studentadd' %}" class="btn btn-success">Add Student</a>

<div class="container mt-3">
    <div class="card mt-3">
        <div class="card-header">
            <a href="{% url 'classic:studentdetail' student.id %}" class="h4"><b>{{ student.name }}</b></a>
            <span class="float-right">
                <a href="{% url 'classic:studentdetail' student.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'classic:studentconfirmdelete' student.id %}" class="btn btn-danger">Delete</a>                
                <a href="{% url 'classic:lessonforstudent' student.id %}" class="btn btn-success">Add class</a>
            </span>
        </div>
        <div class="card-body">
            <p class="card-text">
                {% if student.phone %} <b>Phone:</b> {{ student.phone }} {% else %} (no phone) {% endif %}<br>
                {% if student.email %} <b>Email:</b> {{ student.email }} {% else %} (no email) {% endif %}<br>
            </p>
        </div>
    </div>
</div>

<div class="container mt-3">
    <h4><b>Upcoming Classes</b></h4>
    
    {% for lesson in upcomingclasses %}
    <div class="card mt-3">
        <div class="card-header">
            <b>{{ lesson.start_at|date:"D, M. j, g:i A" }}</b> ({{ lesson.duration }} mins)
            <span class="float-right">
                <a href="{% url 'classic:lessondetail' lesson.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'classic:lessonconfirmdelete' lesson.id %}" class="btn btn-danger">Delete</a>
            </span>
        </div>
        <div class="card-body">
            <p class="card-text">
                {% if lesson.notes %}
                <b>Notes:</b>
                <div class="container">
                    <pre>{{ lesson.notes }}</pre>
                </div>
                {% else %}
                (no notes)
                {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}        
</div>

<div class="container mt-3">
    <h4><b>Class History by Month</b></h4>

    <ul>
        {% for monthlink in monthlinks %}
        <li><a href="{% url 'classic:studentmonth' student.id monthlink.0 monthlink.1 %}">{{ monthlink.2 }} {{ monthlink.0 }}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}



{% block script %}
<script>
 let app = new Vue({
   el: "#app",
   data: {
     {{ vueStudent|safe }}
   },
   
   methods: {
     
   },

   mounted() {
     $('[data-toggle="tooltip"]').tooltip();
   },
 });
</script>
{% endblock %}
