{% extends "classic/base.html" %}
{% load index %}

{% block content %}
<h3>My Students</h3>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addStudentModal">
    Add Student
</button>

<br><br>

{% if students %}
Tap on a student's name to edit his or her info.
{% endif %}

{% for student in students %}
<div class="card mt-3">
    <div class="card-header">
        <a href="/classic/students/{{ student.id }}/" class="h4">{{ student.name }}</a>
        <a href="/classic/classes/forstudent/{{ student.id }}/" class="btn btn-primary float-right">Add class</a>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ student.phone }}<br>
            {{ student.email }}
        </p>
    </div>
</div>
{% endfor %}

<!-- Add Student Modal -->
<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include "classic/studentform.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
 let app = new Vue({
   el: "#app",
   data: {
     {{ vueStudent|safe }}
   },
   
   methods: {
     
   },

   mounted() {
     
   },
 });
</script>
{% endblock %}
