{% extends "classic/base.html" %}

{% block content %}

<div class="container mt-3">
    <h3>Login <img src="/static/img/hellokittyface.png" alt="kitty"></h3>

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% endif %}
    {% endif %}

    <form method="POST" action="{% url 'login' %}" onsubmit="document.getElementById('submitUser').innerText='Please wait';">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_username">Username</label>
            <input type="text" class="form-control" id="id_username" name="username" autofocus required>
        </div>

        <div class="form-group">
            <label for="id_password">Password</label>
            <input type="password" class="form-control" id="id_password" name="password">
        </div>

        <input type="hidden" name="next" value="{{ next }}">
        <button id="submitUser" type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

<div class="container mt-3">
    <small>Contact the site administrator if you forgot your password.</small>
</div>

{% endblock %}


<!--
     <p><a href="{% url 'password_reset' %}">Reset password</a></p>
-->

</center>
</div>
</body>
</html>
