{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Key English</title>
  <link rel="stylesheet" href="{% static "css/bulma.min.css" %}">
  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
  <style>
    [v-cloak] { display: none; }

    body {
    
    height: 100%;
    background-color: #ffdddd;
    background-image: url('{% static "img/hello_bg.png" %}');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: auto 100%;
    
    }

    #app {

    height: 100%;

    }
  </style>
</head>

<body class="has-navbar-fixed-top">

<section id="app" class="hero is-fullheight" v-cloak>
<!-- <div class="container is-fluid"> -->
<div class="hero-head">
<header class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
<div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{% static "img/brandicon.png" %}">
      {{ request.user.username }}
    </a>

    <a class="navbar-item" href="/ui/lessons/">
      <figure class="image is-24x24">
        <img src="{% static "img/calendar.png" %}" alt="calendar">
      </figure>
    </a>
    <a class="navbar-item" href="/ui/students/">
      <figure class="image is-24x24">
        <img src="{% static "img/people.png" %}" alt="students">
      </figure>
    </a>

    <a class="navbar-item" href="/accounts/logout/">
      <figure class="image is-24x24">
        <img src="{% static "img/exit.png" %}" alt="exit">
      </figure>
    </a>
  </div>
</div>
</header>

<div class="hero-body">
<div class="container">
