{% load static %}
{% include "ui/header.html" %}

Student<br>

{% include "ui/studentform.html" %}

<button @click="updateStudent">Update</button>

{% include "ui/commonscripts.html" %}

let vapp = new Vue({
  delimiters: ['{', '}'],

  el: "#app",

  data: {
    id: {{ student_id }},
    newName: "",
    newPhone: "",
    newEmail: "",
    newWeekday: "",
    newTime: "",
  },

  methods: {
    updateStudent() {
      axios
        .patch('/records/students/' + this.id + '/', {
          name: this.newName,
          phone: this.newPhone,
          email: this.newEmail,
          lesson_weekday: this.newWeekday,  
          lesson_time: this.newTime
        })
        .then(response => {
          console.log("Update: " + response.statusText);
        });
    },
  },
  
  mounted () {
    axios
      .get('/records/students/' + this.id + '/')
      .then(response => {
        console.log("Get: " + response.statusText);
        let studentData = response.data;
        this.newName = studentData.name;
        this.newPhone = studentData.phone;
        this.newEmail = studentData.email;
        this.newWeekday = studentData.lesson_weekday;
        this.newTime = studentData.lesson_time;        
      });
  }
});

{% include "ui/footer.html" %}
