{% load static %}
{% include "ui/header.html" %}
<h4 class="title is-4">Students</h4>
<button class="button is-primary" @click="toggleModal">Add student</button>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th><abbr title="Weekday">Wkdy</abbr></th>
      <th>Time</th>
      <th>Hidden?</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="student in students">
      <td><a :href="'/ui/students/' + student.id + '/'" class="has-text-weight-bold">{student.name}</a></td>
      <td>{student.phone}</td>
      <td>{student.lesson_weekday}</td>
      <td>{student.lesson_time}</td>
      <td>{student.archived}</td>
    </tr>
  </tbody>
</table>

<div v-if="modalShown" class="modal is-active" id="formModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add Student</p>
    </header>
    <section class="modal-card-body">
      {% include "ui/studentform.html" %}
      <button class="button is-primary" @click="addStudent">Add</button>
    </section>
    <footer class="modal-card-foot">
      <button class="button" @click="toggleModal">Cancel</button>
    </footer>
  </div>

  <button class="modal-close is-large" aria-label="close" @click="toggleModal"></button>
</div>
  
{% include "ui/commonscripts.html" %}

let vapp = new Vue({
  delimiters: ['{', '}'],

  el: "#app",

  data: {
    students: [],
    newName: "",
    newPhone: "",
    newEmail: "",
    newWeekday: "",
    newTime: "",
    modalShown: false,
  },

  methods: {
    toggleModal() {
      this.modalShown = !this.modalShown;
    },
    
    addStudent() {
      if (this.newName.trim() == "") {
        this.newName = "Anonymous";
      }
      if (this.newPhone.trim() == "") {
        this.newPhone = "0";
      }
      if (this.newEmail.trim() == "") {
        this.newEmail = "nobody@none.com";
      }
      if (this.newWeekday.trim() == "") {
        this.newWeekday = "1";
      }
      if (this.newTime.trim() == "") {
        this.newTime = "0:00";
      }
      
      axios
        .post('{% url "records:student_list" %}',
              { teacher: {{ request.user.id }},
                name: this.newName,
                phone: this.newPhone,
                email: this.newEmail,
                lesson_weekday: this.newWeekday,
                lesson_time: this.newTime,
                archived: false,
              })
        .then(response => {
          console.log(response.data);
          this.students.unshift(response.data);
          this.toggleModal();
          this.newName = "";
          this.newPhone = "";
          this.newEmail = "";
          this.newWeekday = "";
          this.newTime = "";
        });
          
    },
  },
  
  mounted () {
    axios
      .get('{% url "records:student_list" %}')
      .then(response => {
        console.log("Get list: " + response.statusText);
        this.students = response.data;
      });
  }
});

{% include "ui/footer.html" %}
